*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
#container{
    width: 100vw;
    height: 100vh;
    background: url("Images/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#containerWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-flow: column;
}
#video{
    width: 0;
    /* animation: video 1s ease-in 1 forwards; */
    border-radius: 10px;
    box-shadow: grey 0px 0px 5px 5px;
    z-index: 5;
}
@keyframes video{
    0%{
        width: 0;
    }
    100%{
        width: 700px;
    }
}
h1{
    margin-top: 50px;
    color: white;
    font-size: 5vw;
    font-family: 'Rowdies', cursive;
    letter-spacing: 10px;
    font-weight: 400;
    /* animation: heading 600ms ease-out 10s 1 forwards; */
    z-index: 5;
}
@keyframes heading{
    0%{
        font-size: 0px;
        opacity: 0;
    }
    100%{
        font-size: 5vw;
        opacity: 1;
    }
}

canvas{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
@media only screen and (max-width: 750px){
    @keyframes video{
        0%{
            width: 0;
        }
        100%{
            width: 500px;
        }
    }
}
@media only screen and (max-width: 550px){
    @keyframes video{
        0%{
            width: 0;
        }
        100%{
            width: 300px;
        }
    }
}
@media only screen and (max-width: 350px){
    @keyframes video{
        0%{
            width: 0;
        }
        100%{
            width: 250px;
        }
    }
}